@{
    ViewBag.Title = "Home Page";
}
<p></p>

<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Drzava</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Zaposleni</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Skladiste</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Materijal</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Oprema</button>

<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Proizvods")'">Proizvod</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Faza Proizvodnje</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "VremenaProizvodnje")'">Vremena Proizvodnje</button>
<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "RadnoMestoes")'">Radno mesto</button>