@{
    ViewBag.Title = "Home Page";
}

<div style="background:
    url(@Url.Content("~/wwwroot/images/kolaci.jpg"))">



</div>

<img style="display: block; margin:auto" id="img1" alt="Image1.png" src="@Url.Content("~/wwwroot/images/kolaci.jpg")">


@*<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Drzava</button>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Zaposleni</button>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Skladiste</button>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Materijal</button>


    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Drzavas")'">Oprema</button>

    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Proizvods")'">Proizvod</button>
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "RadnoMestoes")'">Radno mesto</button>*@



