@model MRP.Models.Proizvod

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje proizvoda</h2>

<h3>Da li ste sigurni da želite obrisati odabrani proizvod?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VremePripreme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VremePripreme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sastojaks)
        </dt>
        <dd>
            @foreach (var item in Model.Sastojaks)
            {
                <div class="row">
                    <div class="col-sm-3">
                        @item.Materijal1.Naziv  @item.Kolicina @item.Materijal1.JedinicaMere
                    </div>

                </div>
            }
        </dd>


        <dt></dt>
        <dd>@Html.ValidationMessageFor(model => model.VremePripreme, "", new { @class = "text-danger" })</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Nazad", "Index")
        </div>
    }
</div>
