@model MRP.Models.Proizvod

@{
    ViewBag.Title = "Details";
}

<h2>Prikaz proizvoda</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vreme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vreme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sastojaks)
        </dt>
        <dd>
            @foreach (var item in Model.Sastojaks)
            {
                <div class="row">
                    <div class="col-sm-3">
                        @item.Materijal1.Naziv  @item.Kolicina @item.Materijal1.JedinicaMere
                    </div>
                 
                </div>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Azuriraj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad", "Index")
</p>
