@model IEnumerable<MRP.Models.Dobavljac>

@{
    ViewBag.Title = "Index";
}

<h2>Dobavljaci</h2>

<p>
    @Html.ActionLink("Kreiraj novog dobavljaca", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KontaktTelefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drzava1.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KontaktTelefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drzava1.Naziv)
        </td>
        <td>
            @Html.ActionLink("Azuriraj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Prikazi", "Details", new { id=item.Id }) |
            @Html.ActionLink("Obrisi", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
