@model IEnumerable<MRP.Models.Materijal>

@{
    ViewBag.Title = "Index";
}

<h2>Materijali</h2>

<p>
    @Html.ActionLink("Dodaj novi materijal", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CenaPoJediniciMere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JedinicaMere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkupnaCena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RokTrajanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dobavljac1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skladiste1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CenaPoJediniciMere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JedinicaMere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupnaCena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RokTrajanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dobavljac1.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skladiste1.Naziv)
        </td>
        <td>
            @Html.ActionLink("Azuriraj", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Prikazi", "Details", new { id = item.Id }) |
            @Html.ActionLink("Obrisi", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
